/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

.main-header{
    background-color: yellowgreen;
    

}

#menu {
    display: none;
}

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.nav-bar{
    background-color: mediumaquamarine;

    
}

/* -------------------------------------------------------- */
/* SEARCH BAR */
/* -------------------------------------------------------- */

.search-bar{
    background-color: olivedrab;
    

    
    

}



/* -------------------------------------------------------- */
/* MENÚ TOOGLE */
/* -------------------------------------------------------- */

.menu-toogle {
    display: none;
}