/* Colores de la pagina */

$color-primario: rgb(168, 118, 118);
$color-secundario:rgb(245, 225, 229);
$color-terciario:rgb(243, 204, 212);
$color-fondo:rgb(240, 235, 227);

/* Tamños de letra  */

$letra-xs:1rem;
$letra-s: 1.2rem;
$letra-m: 2rem;
$letra-l: 2.6rem;

/* Margenes */

$margin-2: 2rem;
$margin-3: 3rem;
